Repository villoro/vtasks, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, CI-CD, j/backups, j/dropbox, j/gcal, j/gsheets, dbt, l/staging, l/marts, common, scripts, deps

.github/labeler.yml:

docs:
- README.md
- images/**
- src/**.md

CI-CD:
- .github/**
- .pre-commit-config.yaml

j/backups:
- src/jobs/backups/**

j/dropbox:
- src/jobs/dropbox/**

j/gcal:
- src/jobs/gcal/**

j/gsheets:
- src/jobs/gsheets/**

dbt:
- src/vdbt/**

l/staging:
- src/vdbt/models/staging/**

l/marts:
- src/vdbt/models/marts/**

common:
- src/common/**

scripts:
- scripts/*
- scripts/**/*

deps:
- poetry.lock

Simplify CI
  .github/workflows/CI.yaml
  pyproject.toml
Labels: CI-CD

More gsheets sources + macro to fix amounts
  src/vdbt/dbt_project.yml
  src/vdbt/macros/numeric.sql
  src/vdbt/macros/numeric.yml
  src/vdbt/models/staging/gsheets/base/base_gsheets__categories.sql
  src/vdbt/models/staging/gsheets/base/base_gsheets__salaries.sql
  src/vdbt/models/staging/gsheets/stg/stg_gsheets__accounts.yml
  src/vdbt/models/staging/gsheets/stg/stg_gsheets__categories.sql
  src/vdbt/models/staging/gsheets/stg/stg_gsheets__categories.yml
  src/vdbt/models/staging/gsheets/stg/stg_gsheets__salaries.sql
  src/vdbt/models/staging/gsheets/stg/stg_gsheets__salaries.yml
Labels: dbt, l/staging

Add investments
  src/vdbt/dbt_project.yml
  src/vdbt/macros/numeric.sql
  src/vdbt/models/staging/gsheets/base/base_gsheets__investments.sql
  src/vdbt/models/staging/gsheets/stg/stg_gsheets__investments.sql
  src/vdbt/models/staging/gsheets/stg/stg_gsheets__investments.yml
  src/vdbt/package-lock.yml
  src/vdbt/packages.yml
Labels: dbt, l/staging

Add liquid
  src/vdbt/dbt_project.yml
  src/vdbt/models/staging/gsheets/base/base_gsheets__liquids.sql
  src/vdbt/models/staging/gsheets/stg/stg_gsheets__liquids.sql
  src/vdbt/models/staging/gsheets/stg/stg_gsheets__liquids.yml
Labels: dbt, l/staging

Fix command
  .github/workflows/CI.yaml
Labels: CI-CD

Revert "Fix command"
  .github/workflows/CI.yaml
Labels: CI-CD

F/dbt part 2 (#271)
  pyproject.toml
  src/vdbt/dbt_project.yml
  src/vdbt/macros/numeric.sql
  src/vdbt/macros/numeric.yml
  src/vdbt/models/staging/gsheets/base/base_gsheets__categories.sql
  src/vdbt/models/staging/gsheets/base/base_gsheets__investments.sql
  src/vdbt/models/staging/gsheets/base/base_gsheets__liquids.sql
  src/vdbt/models/staging/gsheets/base/base_gsheets__salaries.sql
  src/vdbt/models/staging/gsheets/stg/stg_gsheets__accounts.yml
  src/vdbt/models/staging/gsheets/stg/stg_gsheets__categories.sql
  src/vdbt/models/staging/gsheets/stg/stg_gsheets__categories.yml
  src/vdbt/models/staging/gsheets/stg/stg_gsheets__investments.sql
  src/vdbt/models/staging/gsheets/stg/stg_gsheets__investments.yml
  src/vdbt/models/staging/gsheets/stg/stg_gsheets__liquids.sql
  src/vdbt/models/staging/gsheets/stg/stg_gsheets__liquids.yml
  src/vdbt/models/staging/gsheets/stg/stg_gsheets__salaries.sql
  src/vdbt/models/staging/gsheets/stg/stg_gsheets__salaries.yml
  src/vdbt/package-lock.yml
  src/vdbt/packages.yml
Labels: dbt, l/staging

Add duration gcal
  src/vdbt/models/staging/gcal/base/base_gcal__events.sql
  src/vdbt/models/staging/gcal/stg/stg_gcal__events.yml
Labels: dbt, l/staging

Add sharing percentages
  src/jobs/gsheets/tables.yaml
  src/vdbt/models/staging/gsheets/_sources.yml
  src/vdbt/models/staging/gsheets/base/base_gsheets__share_percentages.sql
  src/vdbt/models/staging/gsheets/stg/stg_gsheets__share_percentages.sql
  src/vdbt/models/staging/gsheets/stg/stg_gsheets__share_percentages.yml
Labels: j/gsheets, dbt, l/staging

Add transactions model
  src/vdbt/dbt_project.yml
  src/vdbt/models/marts/expensor/mt_expensor__transactions.sql
  src/vdbt/models/staging/dropbox/base/base_dropbox__money_lover.sql
  src/vdbt/models/staging/dropbox/stg/stg_dropbox__money_lover.yml
Labels: dbt, l/staging, l/marts

Rename + add documentation
  src/vdbt/dbt_project.yml
  src/vdbt/models/core/expensor/core_expensor__transactions.sql
  src/vdbt/models/core/expensor/core_expensor__transactions.yml
  src/vdbt/models/staging/dropbox/stg/stg_dropbox__money_lover.yml
Labels: dbt, l/staging

Fix transactions dups
  src/vdbt/dbt_project.yml
  src/vdbt/models/core/expensor/core_expensor__transactions.sql
  src/vdbt/models/core/expensor/core_expensor__transactions.yml
  src/vdbt/models/staging/dropbox/int/int_dropbox__money_lover.sql
  src/vdbt/models/staging/dropbox/stg/stg_dropbox__money_lover.yml
  src/vdbt/models/staging/gsheets/base/base_gsheets__share_percentages.sql
  src/vdbt/models/staging/gsheets/stg/stg_gsheets__share_percentages.yml
Labels: dbt, l/staging
