Repository villoro/vtasks, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, CI-CD, t/archive, t/backups, t/battery, t/cryptos, t/expensor, t/flights, t/gcalendar, t/indexa, t/money_lover, t/vbooks, t/vprefect, scripts, dependencies

Chatgpt corrections + remove unused image
  README.md
  images/luigi_reports.png
Labels: docs

Add pipeline design
  README.md
  images/prefect_vtasks.png
  images/prefect_vtasks_backups.png
Labels: docs

Text improvements with cgpt
  README.md
Labels: docs

Add subflows part and reorder sections
  README.md
Labels: docs

Add tasks definition
  README.md
  images/flights_data.jpg
  images/flights_task.png
Labels: docs

Describe archive and backup subflows
  src/archive/README.md
  src/backups/README.md
Labels: docs, t/archive, t/backups

Fix text
  src/archive/README.md
  src/backups/README.md
Labels: docs, t/archive, t/backups

Describe battery and cryptos
  README.md
  src/battery/README.md
  src/cryptos/README.md
Labels: docs, t/battery, t/cryptos

Improve readmes
  src/battery/README.md
  src/cryptos/README.md
Labels: docs, t/battery, t/cryptos

Descrive expensor and money_lover
  src/expensor/README.md
  src/money_lover/README.md
Labels: docs, t/expensor, t/money_lover

Improve expensor and money_lover
  src/expensor/README.md
  src/money_lover/README.md
Labels: docs, t/expensor, t/money_lover

Rename expensor images in readmes
  README.md
  images/expensor_report_1_dashboard.png
  images/expensor_report_1_dashboard_nexus_5X.png
  images/expensor_report_2_evolution.png
  images/expensor_report_3_comparison.png
  images/expensor_report_4_pies.png
  images/expensor_report_5_liquid.png
  images/expensor_report_5_liquid_nexus_5X.png
  images/expensor_report_6_investments.png
  images/expensor_report_7_fire.png
  images/expensor_report_7_fire_nexus_5X.png
  images/expensor_report_8_sankey.png
  images/expensor_report_8_sankey_nexus_5X.png
  images/expensor_report_nexus_5X.png
  src/expensor/README.md
Labels: docs, t/expensor

Add indexa
  src/indexa/README.md
Labels: docs, t/indexa

Add gcal
  images/gcal_report.png
  src/gcal/README.md
Labels: docs, t/gcalendar

Add vbooks
  images/vbooks_report.png
  src/vbooks/README.md
Labels: docs, t/vbooks

Add prefect
  images/vprefect_report.png
  src/vprefect/README.md
Labels: docs, t/vprefect

Try to fix some links
  src/cryptos/README.md
  src/money_lover/README.md
  src/vbooks/README.md
  src/vprefect/README.md
Labels: docs, t/cryptos, t/money_lover, t/vbooks, t/vprefect

Fix the rest of the links
  src/expensor/README.md
  src/gcal/README.md
  src/indexa/README.md
  src/money_lover/README.md
Labels: docs, t/expensor, t/gcalendar, t/indexa, t/money_lover

Simplify links in main readme
  README.md
Labels: docs

.github/labeler.yml:

docs:
- README.md
- images/*
- src/*.md
- src/**/*.md

CI-CD:
- .github/*
- .github/**/*
- .pre-commit-config.yaml

t/archive:
- src/archive/*
- src/archive/**/*

t/backups:
- src/backups/*
- src/backups/**/*

t/battery:
- src/battery/*
- src/battery/**/*

t/cryptos:
- src/cryptos/*
- src/cryptos/**/*

t/expensor:
- src/expensor/*
- src/expensor/**/*
- templates/base.html
- templates/expensor.html

t/flights:
- src/flights/*
- src/flights/**/*

t/gcalendar:
- src/gcal/*
- src/gcal/**/*
- templates/base.html
- templates/gcalendar.html

t/indexa:
- src/indexa/*
- src/indexa/**/*

t/money_lover:
- src/money_lover/*
- src/money_lover/**/*

t/vbooks:
- src/vbooks/*
- src/vbooks/**/*
- templates/base.html
- templates/vbooks.html

t/vprefect:
- scripts/logs_parser/*
- scripts/logs_parser/**/*
- src/vprefect/*
- src/vprefect/**/*
- templates/base.html
- templates/vtasks.html

scripts:
- scripts/*
- scripts/**/*

dependencies:
- poetry.lock
